<div class="container">
  <h1>My Tasks</h1>
  <ul class="list-group py-3">
    <% @tasks.each do |task| %>
      <li class="list-group-item py-3">
        <div class="form-check">
          <% if task.completed %>
            <%= check_box_tag "task_#{task.id}", true, true, class: "form-check-input" %>
          <% else %>
            <%= check_box_tag "task_#{task.id}", false, false, class: "form-check-input" %>
          <% end %>
          <label class="form-check-label" for="task_<%= task.id %>">
            <%= link_to task.title, task_show_path(task) %>
          </label>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a new task", new_task_path, class: "btn btn-primary" %>
</div>
